.cv{
	background: rgba(249, 249, 249, 0.7);
	height: 100vh;
.container{
	padding: 12rem 2rem 19.5rem;
.download-link{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 74.5rem;
	width: 100%;
	margin: auto;
	height: 7.7rem;
	border-radius: 3.9rem;
	background: #fff;
	margin-top: 12.4rem;
	padding-right: 11%;
a{
	font: 700 2.6rem $font-bold;
	color: #4b80b7;
	text-transform: uppercase;
	letter-spacing: 1.04rem;
img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 2.5rem;
}
&:hover img{
	-webkit-transform: scale(1.2, 1.2);
	    -ms-transform: scale(1.2, 1.2);
	        transform: scale(1.2, 1.2);
}
&:hover{
	color: #3f7c9d;
}
}
.cv-img{
	position: absolute;
	right: 67%;
	top: -6rem;
	width: 18.8rem;
	height: 18.8rem;
	border-radius: 50%;
	background: #fff;
	overflow: hidden;
.cv-item{
	background: url(../img/bg-men.png) no-repeat center;
	width: 18.8rem;
	height: 18.8rem;
    background-size: cover;
}
}
}
}
}

@media screen and (max-width: 768px){
.cv .container{
	padding: 6rem 2rem 9.7rem;
}
}
@media screen and (max-width: 576px){
.cv .container .download-link{
	margin-top: 24.4rem;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-right: 0;
a{
	letter-spacing: 0.54rem;
}
.cv-img{
	right: 0;
	left: 0;
	top: -18.8rem;
	margin: auto;
}
}
}