.top-menu{
	position: relative;
    z-index: 999;
	// border-top: 0.5rem solid #b7c1c8;
	width: 100%;
	// background: rgba(255, 255, 255, 0.5);
ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
li{
	position: relative;
a{
	position: relative;
	font-size: 2rem;
	color: #a2a2a2;
	display: block;
	line-height: 6.5rem;
	padding: 0 2rem;
	z-index: 999;
	font-family: $font-p;
&:hover{
	color: #292827;
}
}
}
}
.active{
	border-bottom: 0.5rem solid red;
}
// .active:before{
// 	content: "";
// 	position: absolute;
// 	top: -0.5rem;
// 	left: 0;
// 	right: 0;
// 	height: 0.5rem;
// 	width: 100%;
// 	background: red;
// }
}
.mobail-menu,
.mobail-menu-close{
	display: none;
}
@media screen and (max-width: 696px){
.top-menu{
	display: none;
	border-top: none;
.active{
	border-bottom: none;
}
ul{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 6rem;
    text-align: center;
}
}
.mobail-menu{
	position: fixed;
	display: block;
    border-bottom: 15px double #3f7c9d;
    border-top: 5px solid #3f7c9d;
    cursor: pointer;
    padding-top: 5px;
    width: 32px;
    right: 20px;
    top: 20px;
    z-index: 9;

}
.mobail-menu-close{
	display: none;
	position: fixed;
	width: 32px;
	height: 32px;
	right: 20px;
	top: 20px;
	z-index: 9;

&:before, &:after {
	position: absolute;
	left: 15px;
	content: "";
	height: 33px;
	width: 5px;
	background-color: #3f7c9d;
}
&:before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
&:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
}
.responsive{
	background: #fff;
	position: fixed;
	display: block;
	width: 100%;
    top: 0;
    left: auto;
    right: 0;
	padding-bottom: 2.4rem;
	z-index: 8;
	-webkit-animation: navmenumobile 0.4s ease-out;
		        animation: navmenumobile 0.4s ease-out;
	
}
@-webkit-keyframes navmenumobile{
	0%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}
@keyframes navmenumobile{
	0%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
	}
}

.mobmenu-close-block{
	display: block;
	z-index: 99;
	cursor: pointer;
}
.mobail-menuopen{
	display: none;
}
}

@media screen and (max-width: 440px){
.top-menu ul{
	padding-top: 4rem;
}
.mobail-menu{
    border-bottom: 12px double #3f7c9d;
    border-top: 4px solid #3f7c9d;
    padding-top: 4px;
    width: 25px;
    top: 15px;
    z-index: 9;

}
.mobail-menu-close{
	width: 27px;
	height: 27px;
	top: 15px;

&:before, &:after {
	left: 15px;
	height: 27px;
	width: 4px;
}
}
}
